$black1: #303133;
$black2: #606266;
$black3: #909399;
$black4: #C0C4CC;

// 简历
.list-resume {
    background: #f1f1f1;
    padding: 15px;

    .list-item {
        padding-top: 15px;

        .list-item-container {
            border-radius: 5px;
            border: 1px solid #ddd;
            background: #fff;
            overflow: hidden;
        }

        .list-item-img img {
            display: block;
            width: 100%;
            height: 100%;
        }

        .list-item-describe {
            padding: 10px 15px;
        }

        .item-describe-title {
            padding-bottom: 5px;
            font-weight: bold;
            position: relative;
            text-overflow: ellipsis;
            overflow: hidden;
            color: $black1;
        }

        .item-describe-content {
            font-size: 12px;
            color: $black3;
        }
    }
}
