/*!
 * Re:jiejie (http://www.cwwtswua.com)
 * QQ:454766952
 * Establish on 15 June 2016 (https://github.com/cwwjie)
 */
body{
	background:#fff;
}
.nav_container{
	max-width:992px;
	height:50px;
	margin:0 auto;
	position:relative;
}