$black1: #303133;
$black2: #606266;
$black3: #909399;
$black4: #C0C4CC;

.nav-heard {
    min-height: 80px;
    padding: 0px 35px;
    background: #fff;
    border-bottom: 1px solid #ddd;

    // 曾杰杰 名字
    .heard-left-title {
        color: $black2;
        font-weight: bold;
        padding-left: 5px;
        font-size: 24px;
    }

    // 头像部分
    .heard-right-portrait {
        padding-right: 15px;
        cursor: pointer;

        .heard-portrait-left {
            width: 40px;
            height: 40px;
            border-radius: 40px;
            border: 1px solid #ddd;
            overflow: hidden;
            
            img {
                display: block;
                width: 40px;
                height: 40px;
            }
        }

        .heard-portrait-right {
            padding-left: 15px;

            .portrait-describe-top {
                font-size: 16px;
                color: $black1;
            }

            .portrait-describe-bottom {
                font-size: 12px;
                color: $black3;
            }
        }
    }

    // 一个项
    .nav-heard-item {
        margin-right: 15px;
        padding: 12.5px 20px;
        font-size: 16px;
        color: $black2;
        border-radius: 4px;
        cursor: pointer;
        transition: color 0.25s;
        -moz-transition: color 0.25s;	/* Firefox 4 */
        -webkit-transition: color 0.25s;	/* Safari 和 Chrome */
        -o-transition: color 0.25s;	/* Opera */
        transition: background 1s;
        -moz-transition: background 1s;	/* Firefox 4 */
        -webkit-transition: background 1s;	/* Safari 和 Chrome */
        -o-transition: background 1s;	/* Opera */
    }
    .nav-heard-item:hover {
        color: $black1;
        background: rgba($color: #000000, $alpha: 0.08);
    }
}
