$black1: #303133;
$black2: #606266;
$black3: #909399;
$black4: #C0C4CC;

@media screen and (max-width: 768px) {
    #root {
        position: relative;
        font-size: 14px;
        width: 100%;
        min-height: 100%;
        color: $black2;
        background-color: #f5f5f5;
    }
}

// 顶部横幅轮播图
.mobile-headline-banner {
    width: 100%;

    img {
        display: block;
        width: 100%;
    }
}

// 描述横幅
.mobile-describe-banner {
    position: relative;

    // 头像
    .describe-banner-portrait {
        position: absolute;
        top: -50px;
        left: 15px;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        overflow: hidden;
    
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    // 描述横幅 内容
    .describe-banner-container {
        padding: 15px;
        background: #fff;
    }

    // 个人简历按钮
    .describe-banner-operate {
        padding-bottom: 15px;

        .banner-operate-resume {
            padding: 5px 10px;
            border: 1px solid #F56C6C;
            color: #F56C6C;
        }
    }

    // 标题
    .describe-banner-title {
        padding-bottom: 5px;

        .banner-title-name {
            font-size: 22px;
            color: $black1;
            width: 100px;
            text-align: center;
        }

        .banner-title-icon {
            a {
                padding: 0px 5px;
            }
        }
    }

    // 内容区域
    .describe-banner-main {
        font-size: 12px;

        .banner-describe-row {
            padding-top: 10px;
        }

        .describe-row-icon {
            padding-right: 5px;
        }
    }

    // 横幅描述 随机记录
    .describe-banner-record  {
        font-size: 14px;

        .banner-main-title {
            font-weight: bold;
            padding-bottom: 5px;
        }

        .banner-main-content {
            padding-bottom: 2.5px;
        }
    }

}

// 导航栏
.mobile-navigation-bar {
    height: 45px;
    line-height: 45px;
    padding: 0px 15px;
    background: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    .navigation-bar-item {
        width: 25%;
        text-align: center;

        span {
            height: 45px;
            display: block;
        }
    }

    .bar-item-active span {
        color: #F56C6C;
        border-bottom: 2px solid #F56C6C;
    }
}

// 主页
.mobile-list-all {
    padding: 0px 15px;
    min-height: 120px;

    .mobile-list-item {
        padding-top: 15px;

        .list-item-container {
            border-radius: 5px;
            background: #fff;
            overflow: hidden;
        }

        .list-item-img img {
            display: block;
            width: 100%;
            height: 100%;
        }

        .list-item-describe {
            padding: 10px 15px;
        }

        .item-describe-title {
            padding-bottom: 5px;
            font-weight: bold;
            position: relative;
            text-overflow: ellipsis;
            overflow: hidden;
            color: $black1;
        }

        .item-describe-content {
            font-size: 12px;
            color: $black3;
        }
    }
}

// 简历
.mobile-list-resume {
    padding: 0px 15px;
    min-height: 120px;

    .list-resume-title {
        padding-top: 15px;
        font-size: 12px;

        .resume-title-add {
            font-weight: bold;
            color: #F56C6C;
        }
    }

    .mobile-list-item {
        padding-top: 15px;

        .list-item-container {
            border-radius: 5px;
            border: 1px solid #ddd;
            background: #fff;
            overflow: hidden;
        }

        .list-item-img {
            img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }

        .list-item-describe {
            padding: 10px 15px;
        }

        .item-describe-title {
            padding-bottom: 5px;
            font-weight: bold;
            position: relative;
            text-overflow: ellipsis;
            overflow: hidden;
            color: $black1;
        }

        .item-describe-content {
            font-size: 12px;
            color: $black3;
        }
    }

    .list-resume-operate {
        padding-top: 15px;

        .resume-operate-container {
            line-height: 45px;
            text-align: center;
            border-radius: 5px;
            border: 1px solid #ddd;
            color: $black1;
            background: #fff;
        }
    }
}

// 记录列表
.mobile-list-record {
    padding: 0px 15px;
    min-height: 120px;

    .list-record-title {
        padding-top: 15px;
        font-size: 12px;

        .record-title-add {
            font-weight: bold;
            color: #F56C6C;
        }
    }

    .list-record-operate {
        padding-top: 15px;

        .record-operate-container {
            line-height: 45px;
            text-align: center;
            border-radius: 5px;
            border: 1px solid #ddd;
            color: $black1;
            background: #fff;
        }
    }

    .mobile-list-item {
        padding-top: 15px;

        .list-item-container {
            border-radius: 5px;
            background: #fff;
            overflow: hidden;
            padding: 15px;
        }

        .item-describe-title {
            padding-bottom: 5px;
            font-weight: bold;
            position: relative;
            text-overflow: ellipsis;
            overflow: hidden;
            color: $black1;
        }
    }
}

// 英语列表
.mobile-list-english {
    padding: 0px 15px;
    min-height: 120px;

    .list-record-operate {
        padding-top: 15px;

        .record-operate-container {
            line-height: 45px;
            text-align: center;
            border-radius: 5px;
            border: 1px solid #ddd;
            color: $black1;
            background: #fff;
        }
    }

    .mobile-list-item {
        padding-top: 15px;

        .list-item-container {
            border-radius: 5px;
            background: #fff;
            overflow: hidden;
            padding: 15px;
        }

        .item-describe-entext {
            color: $black1;
            font-weight: bold;
        }
    }
}

// 备案号
.copyright-component {
    padding-top: 35px;
    padding-bottom: 5px;
  
    .copyright-describe {
        text-align: center;
        font-size: 14px;
    }
}



