<div class="todo">
   <div class="todo-list">
        <div class="list-active">
            <h2>所有项目</h2>
            <div class="active-item">项目一</div>
        </div>
        <div class="list-archive">
            <h2>归档项目</h2>
            <div class="archive-item">归档项目一</div>
        </div>
    </div>
   <div class="todo-main">
        <div class="todo-discard">归档</div>
        <div class="todo-publish">
            <h2>新增任务</h2>
            <div class="publish-content">
                <div class="publish-input">
                    <input>
                </div>
                <div class="publish-submit">
                    新增
                </div>
            </div>
        </div>
        <div class="todo-Ongoing">
            <h2>正在进行</h2>
            <div class="Ongoing-item">
                <div class="item-name">任务任务</div>
                <div class="item-complete">完成</div>
                <div class="item-putoff">推迟</div>
            </div>
        </div>
        <div class="todo-await">
            <h2>待完成</h2>
            <div class="await-item">
                <div class="item-name">任务任务</div>
                <div class="item-active">激活</div>
                <div class="item-delete">删除</div>
            </div>
        </div>
        <div class="todo-ok">
            <h2>已完成</h2>
            <div class="ok-item">
                <div class="item-name">任务任务</div>
            </div>
        </div>
    </div>
</div>
