body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  min-height: 100%;
  background: #fff;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
}
html,
body {
  background: #efefef;
}
a {
  color: #606266;
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  text-decoration: underline;
}
ol,
ul {
  list-style: none;
}
li {
  list-style: none;
}
.header {
  position: relative;
  height: 50px;
  line-height: 50px;
  background: #dc0000;
  color: #fff;
}
.header .header-logout,
.header .header-contact {
  position: absolute;
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法: Chrome 21+ */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
  align-items: center;
  height: 50px;
}
.header .header-logout span,
.header .header-contact span {
  display: block;
  height: 24px;
  padding: 0px 10px;
  font-size: 14px;
  line-height: 24px;
  color: #dc0000;
  background: #fff;
  border-radius: 12px;
}
.header .header-logout {
  left: 15px;
}
.header .header-title {
  font-size: 16px;
  text-align: center;
}
.header .header-contact {
  top: 0px;
  right: 15px;
}
.banner {
  position: relative;
  padding: 15px;
  background: #dc0000;
  color: #fff;
}
.banner .banner-title {
  padding-bottom: 5px;
  font-size: 18px;
  line-height: 26px;
}
.banner .banner-label {
  font-size: 14px;
  line-height: 22px;
}
.banner .banner-operate {
  position: absolute;
  right: 15px;
  bottom: 15px;
  padding: 5px 15px;
  font-size: 14px;
  border: 1px solid #fff;
}
.advertising {
  background: #fff;
  margin-top: 15px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.advertising .advertising-title {
  position: relative;
  border-bottom: 1px solid #ddd;
}
.advertising .advertising-title .title-text {
  height: 40px;
  padding-left: 42px;
  padding-right: 30px;
  line-height: 40px;
  font-size: 16px;
  color: #303133;
}
.advertising .advertising-title .title-text span {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.advertising .advertising-title i {
  position: absolute;
  display: block;
}
.advertising .advertising-title i img {
  height: 100%;
  width: 100%;
}
.advertising .advertising-title #announcement {
  width: 32px;
  height: 32px;
  top: 5px;
  left: 10px;
}
.advertising .advertising-title #right {
  top: 10px;
  width: 24px;
  height: 24px;
  right: 10px;
}
.advertising .advertising-main img {
  display: block;
  width: 100%;
  height: 100%;
}
.redirect {
  background: #fff;
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding-top: 15px;
}
.redirect .redirect-content {
  overflow: hidden;
}
.redirect .redirect-content .redirect-item {
  padding-bottom: 15px;
  width: 25%;
  float: left;
  text-align: center;
}
.redirect .redirect-content .redirect-item .item-content {
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法: Chrome 21+ */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 44px;
  height: 44px;
  border-radius: 20px;
}
.redirect .redirect-content .redirect-item .item-content img {
  width: 32px;
  height: 32px;
}
.redirect .redirect-content .redirect-item .item-name {
  padding-top: 10px;
  font-size: 14px;
  line-height: 22px;
  color: #606266;
}
