html, body {
    margin: 0;
    padding: 0;
}

.main-content {
    margin: 0 auto;
    overflow: hidden;
    width: 702px;
}

.mr_myresume_l {
    float: none;
    margin: 0 auto;
}

.mr_bottom {
    margin-top: 0px;
}