body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0;
}
body {
  background: #F5F5F5;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
  line-height: 100%;
}
html,
body {
  width: 100%;
  height: 100%;
  background: #F5F5F5;
}
a {
  color: #606266;
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  text-decoration: underline;
}
ol,
ul {
  list-style: none;
}
li {
  list-style: none;
}
.flex-start {
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法: Chrome 21+ */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
  justify-content: flex-start;
}
.flex-start-center {
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法: Chrome 21+ */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
  justify-content: flex-start;
  align-items: center;
}
.flex-center {
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法: Chrome 21+ */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
  justify-content: center;
  align-items: center;
}
.flex-rest {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.list .list-title {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  background: #F5F5F5;
}
.list .list-title span {
  display: block;
  padding-left: 5px;
  border-left: 2px solid #d41226;
}
.list .list-content {
  overflow: hidden;
  padding-top: 15px;
  background: #fff;
}
.list .list-content .list-item {
  padding-bottom: 10px;
  width: 20%;
  float: left;
  text-align: center;
}
.list .list-content .list-item .item-content {
  margin: 0 auto;
  width: 36px;
  height: 36px;
  border-radius: 23px;
  background: -webkit-linear-gradient(#ffe99d, #ffcc69);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#ffe99d, #ffcc69);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#ffe99d, #ffcc69);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(#ffe99d, #ffcc69);
  /* 标准的语法 */
}
.list .list-content .list-item .item-content img {
  width: 28px;
  height: 28px;
}
.list .list-content .list-item .item-name {
  padding: 5px 5px 0px 5px;
  height: 32px;
  font-size: 12px;
  color: #606266;
}
.filter .list-content .list-item {
  width: 25%;
}
.filter .list-content .list-item .item-content {
  background: -webkit-linear-gradient(#ff8064, #e40000);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#ff8064, #e40000);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#ff8064, #e40000);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(#ff8064, #e40000);
  /* 标准的语法 */
}
.redirect .list-content .list-item {
  width: 20%;
}
