.Todo {
    padding: 40px 0px;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    

    .todo-list {
        position: relative;
        border-right: 1px solid #ebedf0;

        .list-title {
            padding: 5px 40px;
            h1 {
                font-size: 14px;
                cursor: pointer;
            }
        }

        .Collapse-title {
            padding-left: 40px;
            padding-right: 40px;
            font-size: 14px;
            padding-bottom: 2.5px;
        }

        .Collapse-content {
            font-size: 14px;
            li {
                padding-left: 45px;
                padding-right: 40px;
                font-size: 14px;
                padding-bottom: 2.5px;
                cursor: pointer;
            }
        }


        .Collapse-Icon {
            position: absolute;
            right: 7.5px;
            margin-top: 2.5px;
        }
    }
    .todo-main {
        padding: 0px 40px;
    }
}